* {
  margin: 0;
  padding: 0;
}

* #wrapper .container .header-area .navbar {
  background-color: #fff !important;
}

* #wrapper .container .header-area .navbar ul li a {
  color: #000 !important;
  font-size: 16px;
  color: #4F5665;
}

* #wrapper .container .header-area .navbar .btn-login {
  width: 120px;
  padding: 2px 5px;
}

* #wrapper .container .header-area .navbar .btn-register {
  width: 120px;
  padding: 2px 5px;
  border: 1px solid #F53855;
  border-radius: 15px;
  color: #F53855;
}

* #wrapper .container .banner-area--left .title {
  font-size: 30px;
  font-weight: bold;
}

* #wrapper .container .banner-area--left .title span {
  font-size: 35px;
  font-weight: bold;
}

* #wrapper .container .banner-area--left .btn-banner {
  width: 150px;
  padding: 4px 5px;
  color: #fff;
  background-color: #F53838;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

* #wrapper .container .banner-area .banner-nav {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 5rem !important;
  padding: 40px 4px;
  border-radius: 10px;
}

* #wrapper .container .banner-area .banner-nav--item {
  border-left: 1px solid #EEEFF2;
}

* #wrapper .container .banner-area .banner-nav--item:first-child {
  border-left: 0px;
}

* #wrapper .container .banner-area .banner-nav--item .icon {
  background-color: #FFECEC;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

* #wrapper .container .banner-area .banner-nav--item .icon i {
  color: #F53838;
}

* #wrapper .container .introduce-area-right {
  font: 16px;
  color: #4F5665;
}

* #wrapper .container .introduce-area-right h2 {
  font: 30px;
  color: #000;
}

* #wrapper .container .introduce-area-right ul {
  list-style: none;
}

* #wrapper .container .introduce-area-right ul li i {
  padding: 2px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2FAB73;
  color: #fff;
  font-size: 8px;
  border-radius: 50%;
}

* #wrapper .plan-area {
  background-color: #F6F6F6;
  padding: 50px 0;
}

* #wrapper .plan-area .plan-item {
  border: 1px solid #DDDDDD;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 50px;
  padding: 15px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

* #wrapper .plan-area .plan-item--active {
  border: 1px solid #F53838;
}

* #wrapper .plan-area .plan-item ul {
  list-style: none;
  padding: 5px 0;
}

* #wrapper .plan-area .plan-item ul li {
  font-size: 12px;
  padding: 3px 0;
}

* #wrapper .plan-area .plan-item ul li i {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2FAB73;
  font-size: 8px;
  border-radius: 50%;
}

* #wrapper .plan-area .plan-item .btn-plan {
  width: 120px;
  padding: 2px 5px;
  border: 1px solid #F53838;
  color: #F53838;
  border-radius: 20px;
}

* #wrapper .plan-area .plan-item .btn-plan--active {
  background-color: #F53838;
  color: #fff;
}
