<div class="container container-modal">
    <div class="title text-uppercase font-weight-bold mb-3">
      choose period to make evaluation
    </div>
    <div class="content" v-if="period.availablePeriodModel">
      <div class="filter-block d-flex mb-2">
        <label class="mr-2">Period</label>
            <nz-select (ngModelChange)="changePeriod($event)"   nzShowSearch nzAllowClear nzPlaceHolder="Select a period">
                                <nz-option *ngFor="let item of availablePeriodData " [nzLabel]="item?.name" [nzValue]="item"></nz-option>
            </nz-select>

      </div>
      <hr />
      <div class="row mb-2">
        <div class="col-md-12 d-flex flex-column">
            <label >Period Name</label>
            <input nz-input [(ngModel)]="period.name" disabled/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 d-flex flex-column">
            <label >Start Time</label>
            <input nz-input [(ngModel)]="period.start_time" disabled/>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <label >End Time</label>
            <input  [(ngModel)]="period.end_time" disabled/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12 d-flex flex-column">
            <label >Description</label>
            <textarea nz-input [(ngModel)]="period.description" cols="30" rows="10" disabled></textarea>
        </div>
      </div>
    </div>
    <div class="button-area d-flex justify-content-center">
        <button
          class="btn text-uppercase btn-modal btn-modal--ok btn-sm mr-3"
          (click)="confirmModal()"
        >
          Ok
        </button>
        <button
          class="btn text-uppercase btn-modal btn-modal--cancel btn-sm"
          (click)="cancelModal()"
        >
          Cancel
        </button>
      </div>
  </div>