@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
$primary-color: rgb(5, 172, 55);
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  #wrapper {
    .header-area {
            .navbar-nav {
                .nav-item {
                    margin: 0 20px;
                    .nav-link {
                        color: #000;
                        font-weight: 600;
                    }
                }
                .active {
                    color: $primary-color !important;
                }
            }
    }
    .banner-area {
        padding: 30px 40px;
        .banner-image {
            img {
                object-fit: cover;
                height: 25rem;
            }
        }
        .banner-content {
            background-color: #d7f1dd;
            &-inner {
                padding: 60px 50px;
                h1 {
                    font-size: 3rem;
                    font-weight: bold;
                }
                p {
                    padding-top: 10px;
                    font-size: 20px;
                }
            }
        }
    }
    .category-area {
        padding: 30px 40px;
        h1 {
            font-weight: bold;
        }
        .category-item {
            .image {
                overflow: hidden;
                img {
               
                    border-radius: 6px;
                    object-fit: cover;
                    transform: scale(1);
                    transition: all ease .8s;
                }
            }
            .star {
                i {
                    color:  $primary-color;
                }
            }
            .title {
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            &:hover {
                // img {
                // transform: scale(1.1);
                // transition: all ease .8s;
                // }
                .title {
                    span {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .popular-area {
        padding: 30px 40px;
        h1 {
            font-weight: bold;
        }
        .popular-item {
            padding:5px 8px;
            img {
                object-fit: cover;
                // border-radius: 50%;
            }
            span {
                font-size: 20px;
                font-weight: bold;
                color: #000;
            }
        }
    }
    .inbox-area {
        background-color: #acceb4;
        &-inner{
            padding: 60px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            h1 {
                font-size: 4.5rem;
                padding: 10px 0;
                font-weight: bold;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    .collection-area {
        padding: 30px 40px;
        h1 {
            font-weight: bold;
        }
        .collection-item {
            // border-radius: 7px;
            // border:1.5px solid rgb(219, 219, 219);
            .content {
                padding:20px 10px;
                h3,span {
                    color:#000;

                }
                span {
                    padding:3px 4px;
                    color:#000;
                    display: block;
                    border: 1px solid #000;
                    width: 6rem;
                    text-align: center;
                    font-size:13px;
                    border-radius: 3px;
                }
            }
            &:hover {
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .footer-big {
        padding: 105px 0 65px 0;
        .footer-widget {
          margin-bottom: 40px;
          padding: 0 10px;
        }
        .footer-menu {
          ul {
            li {
              a {
                color: #898b96;
              }
            }
          }
        }
        p {
          color: #898b96;
        }
        ul {
          li {
            color: #898b96;
          }
        }
      }
      .footer--light {
        background: #e7e8ed;
      }
      .footer-menu {
        padding-left: 48px;
        ul {
          li {
            a {
              font-size: 15px;
              line-height: 32px;
              -webkit-transition: 0.3s;
              -o-transition: 0.3s;
              transition: 0.3s;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
      .footer-menu--1 {
        width: 100%;
      }
      .footer-widget-title {
        line-height: 42px;
        margin-bottom: 10px;
        font-size: 18px;
      }
      .widget-about {
        img {
          display: block;
          margin-bottom: 30px;
        }
        p {
          font-weight: 400;
        }
        .contact-details {
          margin: 30px 0 0 0;
          .icon {
            width: 30px;
            height: 30px;
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            i {
              color: #fff;
            }
          }
        }
      }
      @media (max-width: 991px) {
        .footer-menu {
          padding-left: 0;
        }
      }
  }
}