<div class="banner-area ">
    <div class="banner-area-inner row m-0 g-0">
      <div class="banner-image col-lg-7 p-0">
          <img src="/assets/images/menu1.jpg" alt="" width="100%">
      </div>
      <div class="banner-content col-lg-5 p-0">
        <div class="banner-content-inner">
          <h1>
              Mighty Super Cheesecake
          </h1>
          <p>
              Look no further for a creamy and ultra smooth classic cheesecake recipe! no one can deny its simple decadence.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="category-area">
      <h1>Super Delicious</h1>
      <div class="row">
          <div class="col-md-4 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-4 category-item">
              <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-4 category-item">
              <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
      </div>
  </div>
  <div class="category-area">
      <h1>Super Delicious</h1>
      <div class="row">
          <div class="col-md-4 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-4 category-item">
              <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-4 category-item">
              <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              <div class="star my-2">
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
              </div>
              <div class="title">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
      </div>
  </div>
  <div class="popular-area">
      <h1>Popular Categories</h1>
      <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="">
                  <div class="popular-item d-flex flex-column align-items-center justify-content-center">
                      <img src="/assets/images/menu2.jpg" alt="" width="100%" class="my-2"> 
                      <span>Pasta</span>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="inbox-area">
      <div class="inbox-area-inner">
          <h1>Deliciousness <br>  to your inbox</h1>
          <p>Enjoy weekly hand picked recipes <br> 
              and recommendations</p>
      </div>
  </div>
  <div class="collection-area">
      <h1>Hand-Picked Collections</h1>
      <div class="row">
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-md-4 collection-item p-3">
              <a href=""> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%">
                  <div class="content d-flex justify-content-between">
                      <h3>Sushi Combos for your Next Party</h3>
                      <div class="amount align-self-end">
                          <span>156 Receipts</span>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="category-area">
      <h1>Latest Recipes</h1>
      <div class="row">
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
          <div class="col-md-3 category-item">
              <a href="" class="image"> 
                  <img src="/assets/images/menu2.jpg" alt="" width="100%" class="mt-2">
              </a>
              <div class="title my-2">
                  <span>Spinach and Cheese Pasta</span>
              </div>
          </div>
      </div>
  </div>