
        <div class="form-content" [formGroup]="associateForm" *ngIf="associateForm">
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Full name</label>
                    <input nz-input formControlName="fullName" [class.is-invalid]="formErrors?.fullName"/>
                </div>
                <div class="col-sm-6 d-flex flex-column" *ngIf="!id">
                    <label class="label-input mb-1">Password Generate</label>
                    <div class="d-flex align-items-center">
                        <div class="password pointer" [class.is-invalid]="formErrors?.password" >
                            {{ associateForm.getRawValue().password }}
                        </div>
                        <div class="btn btn-ss btn-ss--secondary ml-2" (click)="generatePassword()">Generate</div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Email</label>
                    <input nz-input formControlName="email" [class.is-invalid]="formErrors?.email"/>
                    <div class=" invalid-feedback" *ngIf="formErrors?.email">{{ formErrors?.email }}</div>
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Birthday</label>
                    <nz-date-picker formControlName="birthday"></nz-date-picker>
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Position group</label>
                    <nz-select (ngModelChange)="changePositionGroup($event)" [class.is-invalid]="formErrors?.positionGroup" formControlName="positionGroup" nzShowSearch nzAllowClear nzPlaceHolder="Select a position group">
                        <nz-option *ngFor="let item of groupsData " [nzLabel]="item?.name" [nzValue]="item?.id"></nz-option>
                    </nz-select>
                    <div class=" invalid-feedback" *ngIf="formErrors?.positionGroup">{{ formErrors?.positionGroup }}</div>
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Position</label>
                    <nz-select  [class.is-invalid]="formErrors?.position_id"  formControlName="position_id" nzShowSearch nzAllowClear nzPlaceHolder="Select a position">
                        <nz-option *ngFor="let item of positionDataFilter " [nzLabel]="item?.name" [nzValue]="item?.id"></nz-option>
                    </nz-select>
                    <div class=" invalid-feedback" *ngIf="formErrors?.position_id">{{ formErrors?.position_id }}</div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Role</label>
                    <nz-select  [class.is-invalid]="formErrors?.role_id"  formControlName="role_id" nzShowSearch nzAllowClear nzPlaceHolder="Select a role">
                        <nz-option *ngFor="let item of rolesData " [nzLabel]="item?.name" [nzValue]="item?.id"></nz-option>
                    </nz-select>
                    <div class="invalid-feedback" *ngIf="formErrors?.role_id">{{ formErrors?.role_id }}</div>
                </div>
                <div class="col-sm-6 d-flex flex-column" *ngIf="associateForm.getRawValue().role_id === 2">
                    <label class="label-input mb-1">Manager</label>
                    <nz-select  [class.is-invalid]="formErrors?.manager_id"  formControlName="manager_id" nzShowSearch nzAllowClear nzPlaceHolder="Select a manager">
                        <nz-option *ngFor="let item of managerData " [nzLabel]="item?.full_name" [nzValue]="item?.id"></nz-option>
                    </nz-select>
                    <div class="invalid-feedback" *ngIf="formErrors?.manager_id">{{ formErrors?.manager_id }}</div>
                </div>
            </div>
        </div>