

<app-page-container>
    <section header>
        <h1>Account Information</h1>
        <div class="btn-area">
            <div class="btn btn-sm btn-ss btn-ss--primary">Change Password</div>
        </div>
    </section>
  
    <section content>
        <div class="form-content" [formGroup]="accountForm" *ngIf="accountForm">
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Full name</label>
                    <input nz-input formControlName="fullName" disabled />
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Email</label>
                    <input nz-input formControlName="email" disabled />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Position Group</label>
                     <input nz-input formControlName="positionGroup" disabled />
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input mb-1">Position</label>
                    <input nz-input formControlName="position" disabled />
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 d-flex flex-column">
                    <label class="label-input">Birthday</label>
                    <input nz-input formControlName="birthday" disabled />
                </div>
            </div>
        
        </div>
    </section>
  </app-page-container>
  