.is-checked {
    color: rgb(21, 119, 90);
}
.button-approve {
    position: absolute;
    width: 2rem;
    height: 1.5rem;
    z-index: 9;
    border: none;
    background: transparent;
}
.cursor-pointer{
    cursor: pointer;
}
.quotes-close {
    background-color: #e2e1e1;
}