<app-page-container>
    <section header>
        <h1 class="mb-0">Member Management</h1>
    </section>
  
    <section content>
        <div class="table-area">
            <nz-table [nzData]="memberList" nzShowPagination
            nzShowSizeChanger>
                <thead>
                    <tr>
                        <th class="col-no--width">No</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th class="col-role--width">Role</th>
                        <th>Position</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of memberList;let i = index">
                    <td class="text-center">{{ i + 1}}</td>
                    <td>
                        {{ item.full_name }}
                    </td>
                    <td>
                        <span class="link">{{ item.email }}</span>
                    </td>
                    <td>
                        {{ item.birthday | date:"dd/MM/yyyy" }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="associate-role" [ngClass]="{ 'associate-role--member': item.role.id === eRole.MEMBER_ROLE,
                          'associate-role--manager': item.role.id === eRole.MANAGER_ROLE}">
                                {{ item.role && item.role.name }}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ item.position && item.position.name }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <i nz-icon nzType="eye" nzTheme="outline"  class="table-icon--view pointer" [routerLink]="['/dashboard/member-manager/view/',item?.id]"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
              </nz-table>
        </div>
    </section>
  </app-page-container>
  