<div class="container container-modal">
    <div class="title text-uppercase font-weight-bold mb-3">
      competency information
    </div>
    <div class="content">
        <p><strong>Name:</strong> {{competencyDetail.name}}</p>
        <p><strong>Description:</strong> {{competencyDetail.description}}</p>
        <hr>
        <table class="table table-bordered">
          <thead>
            <th></th>
            <th>Level 1</th>
            <th>Level 2</th>
            <th>Level 3</th>
            <th>Level 4</th>
            <th>Level 5</th>  
          </thead>
          <tbody *ngFor="let dimension of competencyDetail.dimensions;let i = index">
            <tr>
              <td>{{dimension.name}}</td>
              <td *ngFor="let level of dimension.dimension_level;let j =index">
                {{level.content}}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="button-area d-flex justify-content-center">
        <button
          class="btn text-uppercase btn-modal btn-modal--cancel btn-sm"
          (click)="cancelModal()"
        >
          Close
        </button>
      </div>
  </div>