
<app-page-container>
    <section header>
        <h1 class="mb-0">Competency Management</h1>
        <div class="btn-area">
            <div class="btn btn-sm btn-ss btn-ss--primary">Create Competency</div>
        </div>
    </section>
  
    <section content>
        <div class="table-area">
            <nz-table [nzData]="competencyData" nzShowPagination
            nzShowSizeChanger>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of competencyData;let i =index">
                    <tr class="competency-common">
                        <td colspan="3" class="text-left font-weight-bold">
                          {{item.competencyGroup && item.competencyGroup.name }}
                        </td>
                      </tr>
                      <tr  *ngFor="let competency of item.itemData;let j =index">
                        <td class="text-left">
                          {{ competency.name }}
                        </td>
                        <td class="text-left">
                          {{ competency.description }}
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <i [routerLink]="'/competency-manager/edit/'+ item.id"
                                    class="fa fa-eye table-icon--view cursor-pointer" aria-hidden="true"></i>
                            </div>
                        </td>
                      </tr>
                </tbody>
              </nz-table>
        </div>
    </section>
  </app-page-container>
  
  