<app-page-container>
    <section header>
        <h1 class="mb-0">Associate Management</h1>
        <div class="btn-area">
            <div class="btn btn-sm btn-ss btn-ss--primary">Create Associate</div>
        </div>
    </section>
  
    <section content>
        <div class="table-content">
            <nz-table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>Role</th>
                        <th>Position</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dtoList;let i = index">
                    <td>{{ i + 1}}</td>
                    <td>
                        {{ item.full_name }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {{ item.birthday | date:"dd/MM/yyyy" }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="associate-role" [ngClass]="{ 'associate-role--member': item.role.id === eRole.MEMBER_ROLE,
                          'associate-role--manager': item.role.id === eRole.MANAGER_ROLE}">
                                {{ item.role && item.role.name }}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ item.position && item.position.name }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <i [routerLink]="'/associate-manager/edit/'+ item.id"
                                class="fa fa-eye table-icon--view cursor-pointer" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
              </nz-table>
        </div>
    </section>
  </app-page-container>
  